@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.petakon-bg-gradient {
		@apply bg-gradient-to-br from-cyan-500 to-green-500;
	}

	.petakon-text-gradient {
		@apply text-transparent bg-clip-text bg-gradient-to-r petakon-bg-gradient;
	}

	.petakon-button-outline {
		@apply petakon-outline hover:before:opacity-100 petakon-button;
	}

	.petakon-button {
		@apply duration-200 rounded-full active:scale-95 px-5 py-2;
	}
}

@layer components {
	.petakon-outline {
		--border: theme(borderWidth.2);
		transform-style: preserve-3d;
		@apply relative flow-root;
	}

	.petakon-outline::before {
		border-radius: inherit;
		transform: translate3d(0, 0, -1px);
		@apply content-[''] absolute w-full petakon-bg-gradient h-full top-0 left-0 opacity-0 transition-all duration-300;
	}

	.petakon-outline::after {
		@apply content-[''] absolute top-0 left-0 right-0 bottom-0 border-transparent petakon-bg-gradient bg-clip-border;
		border-radius: inherit;
		border-width: var(--border);
		-webkit-mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: destination-out;
		mask-composite: exclude;
	}
}

@layer components {
	.shadowed {
		border-radius: inherit;
		transform-style: preserve-3d;
		@apply before:petakon-bg-gradient before:w-full before:h-full before:absolute before:top-0 before:left-0 before:-z-10 before:-inset-1 before:opacity-0 before:blur-sm;
	}

	.shadowed::before {
		@apply transition-all duration-300;
		border-radius: inherit;
		transform: translate3d(0, 2px, -1px);
	}

	.shadowed-active {
		@apply before:opacity-25;
	}
}

html,
body {
	@apply w-screen max-h-screen overflow-hidden text-gray-700 text-sm md:text-base;
	font-family: 'Figtree', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	font-style: normal;
}
