@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--line-number: 2;
}

@layer base {
	img {
		@apply object-cover;
	}
	img:not([src]):not([srcset]) {
		visibility: hidden;
	}
}

@layer utilities {
	.pk-button {
		@apply duration-200 rounded-sm active:scale-95 px-5 py-2;
	}

	.text-overflow {
		@apply overflow-hidden text-ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: var(--line-number);
		-webkit-box-orient: vertical;
	}
}

html,
body {
	@apply w-screen max-h-screen overflow-hidden text-gray-700 text-[.925rem] md:text-base;
	font-family: 'Figtree', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
}
